.topbar-container{
    height: 50px;
    width: 100%;
    background-color: beige;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.topbar-right{
    flex: 4;
    background-color: rebeccapurple;
}

.topbar-left{
    flex: 2;
    background-color:yellowgreen ;
}

.topbar-center{
    flex: 5;
    background-color: rgb(30, 7, 24);
}